[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
[submodule "luci-app-autotimeset"]
	path = luci-app-autotimeset
	url = https://github.com/sirpdboy/luci-app-autotimeset.git
[submodule "luci-app-tn-netports"]
	path = luci-app-tn-netports
	url = https://github.com/tano-systems/luci-app-tn-netports.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "luci-theme-design"]
	path = luci-theme-design
	url = https://github.com/gngpp/luci-theme-design.git
[submodule "luci-app-design-config"]
	path = luci-app-design-config
	url = https://github.com/gngpp/luci-app-design-config.git
[submodule "luci-theme-design-js"]
	path = luci-theme-design-js
	url = https://github.com/gngpp/luci-theme-design.git
	branch = js
